/* Writing Effect */

.commands::after {
  content: " |";

  opacity: 1;

  animation: blink 0.7s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* Effect Appear */
.helloAppear,
.nameAppear,
.aboutAppear,
.downloadResumeAppear,
.socialMediasAppear,
.imageAppear,
.aboutTextAppear,
.hobbiesAppear {
  opacity: 0;

  animation-name: appearOnScreen;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appearOnScreen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
