.mainContainer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;

  flex-wrap: wrap;

  padding: 12rem 15rem;
}

.leftContainer {
  width: 50%;
}

/* ---- cat profile.txt ---- */
.profileContainer {
  width: 100%;
}

.commands {
  font-weight: 500;
  font-size: 1.8rem;

  display: block;

  margin-bottom: 3.6rem;
}

.commands::after {
  content: " |";

  opacity: 1;

  animation: blink 0.7s infinite;
}

.catCommand {
  margin-bottom: 6rem;
}

.hello {
  font-weight: 300;
  font-size: 2rem;

  min-width: 30rem;

  display: block;
}

.name {
  font-weight: 900;
  font-size: 6rem;

  display: block;

  min-width: 32rem;

  letter-spacing: 0.4rem;
}

.about {
  font-weight: normal;
  font-size: 2rem;

  min-width: 38rem;

  display: block;
}
/* ---- cat profile.txt ---- */

.contactContainer {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-wrap: wrap;

  margin-top: 10rem;
}

/* ---- wget resume.pdf ---- */
/* .resumeContainer {
} */

.downloadResume {
  width: 14.6rem;
  height: 4.3rem;

  background: var(--blue);

  border: 0;

  color: #fff;

  font-weight: normal;
  font-size: 1.5rem;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border-radius: 0.6rem;

  transition: background, transform 0.2s;
}

.downloadResume:hover {
  background: rgba(68, 157, 209, 0.95);

  transform: scale(1.06);
}

.alertContainer {
  width: 40rem;
  height: 26rem;

  justify-content: space-between;

  padding: 4rem 0;
}

.alertTitle {
  font-family: "Roboto", sans-serif;
  font-size: 3.2rem;

  color: var(--black);
}

.alertConfirmButton,
.alertCancelButton {
  padding: initial;

  width: 13rem;
  height: 5.6rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem !important;

  background: var(--blue) !important;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: background 0.4s;
  transition: transform 0.2s;
}

.alertConfirmButton:hover,
.alertCancelButton:hover {
  background: rgba(68, 157, 209, 0.95) !important;

  transform: scale(1.06);
}

a[download="iuri_pt-br.pdf"],
a[download="iuri_en-us.pdf"] {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.alertConfirmButton {
  margin-right: 2.4rem;
}

.alertCloseButton {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
}

.alertCloseButton:hover {
  color: var(--black);
}
/* ---- wget resume.pdf ---- */

/* ---- open https://social_medias.com ---- */
.socialMediasContainer {
  min-width: 30rem;
}

.socialMedias {
  width: 4rem;
  height: 4rem;

  margin-right: 2rem;

  border-radius: 2rem;

  transition: transform 0.2s;
}

.socialMedias:hover {
  transform: scale(1.5);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* ---- open https://social_medias.com ---- */

/* ---- display iuri.png ---- */
.rightContainer {
  display: flex;
  justify-content: flex-end;
}

.rightContainer span {
  width: 100%;
}

.rightContainer div div {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 40rem;

  border: 5px solid var(--white);

  border-radius: 50%;
}
/* ---- display iuri.png ---- */

/* Animações */
.hello,
.name,
.about,
.downloadResume,
.socialMedias,
.image {
  opacity: 0;

  animation-name: appearOnScreen;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes appearOnScreen {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* Responsividade */
@media (max-width: 320px) {
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 0.8rem 2rem;
  }

  .leftContainer {
    width: 100%;
  }

  .commands {
    margin-top: 3rem;
  }

  .catCommand {
    margin-bottom: 4rem;
  }

  .hello,
  .about {
    width: 100%;

    text-align: center;

    font-size: 1.8rem;
  }

  .name {
    width: 100%;

    text-align: center;

    font-size: 4rem;
  }

  .contactContainer {
    margin-top: 2rem;
  }

  .alertContainer {
    width: 30rem;
    height: 19rem;

    padding: 2rem 0;
  }

  .alertTitle {
    font-size: 2.4rem;
  }

  .alertConfirmButton,
  .alertCancelButton {
    width: 11rem;
    height: 4.6rem;

    border-radius: 0.8rem !important;
  }

  a[download="iuri_pt-br.pdf"],
  a[download="iuri_en-us.pdf"] {
    font-size: 1.4rem;
  }

  .alertConfirmButton {
    margin-right: 2rem;
  }

  .alertCloseButton {
    font-size: 3rem;
  }

  .resumeContainer,
  .resumeContainer div,
  .socialMediasContainer,
  .socialMediasContainer div {
    width: 100%;
  }

  .resumeContainer div,
  .socialMediasContainer div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .rightContainer {
    width: 100%;

    display: initial;
  }

  .image {
    width: 20rem;
  }
}

@media (max-width: 1200px) {
}
