.mainContainer {
  padding: 0 15rem;
}

/* Responsividade */
@media (max-width: 320px) {
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 0 2rem;
  }

  .commands {
    margin-top: 3rem;
  }
}

@media (max-width: 1200px) {
}
